<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaileonTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MaileonTests.Properties.Settings>
            <setting name="baseUri" serializeAs="String">
                <value>https://api.maileon.com/1.0/</value>
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value>5896e6bf-752b-4db3-955e-c24fc0479bd1</value>
            </setting>
            <setting name="mailingIdToDelete" serializeAs="String">
                <value>1548</value>
            </setting>
            <setting name="mailingIdToSend" serializeAs="String">
                <value>1548</value>
            </setting>
            <setting name="mailingIdExistingRegular" serializeAs="String">
                <value>2665</value>
            </setting>
            <setting name="mailingIdExistingTrigger" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mailingIdExistingDoi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mailingIdArchived" serializeAs="String">
                <value>2665</value>
            </setting>
        </MaileonTests.Properties.Settings>
    </userSettings>
</configuration>